<nav class="custom-navbar navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid mx-5">
    <%= link_to 'Solo Blog', root_path, class: 'navbar-brand' %>
    <div>
      <form class="custom-search-form d-flex" role="search">
        <input class="custom-search-input form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="custom-search-button btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
